.App {
  margin: 8px;
}
div#tablewrapper {
  overflow-x: auto;
  text-align: left;
}
table th,
table td label {
  font-size: 0.9rem;
}

label {
  padding-right: 20px;
}

fieldset {
  border: 0;
  padding: 0;
}
