.App {
  margin: 8px;
}
div#tablewrapper {
  overflow-x: auto;
}
div#tablewrapper table#dermal thead th {
  text-align: left;
  /*font-size: 0.9rem;*/
}
label {
  padding-right: 20px;
}

fieldset {
  border: 0;
  padding: 0;
}
