.App {
  margin: 1rem;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App .paragraph-text {
  line-height: 1.3;
}

.App .pathway-container {
  margin: 2rem 0 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #a9aeb1;
}
.App .pathway-container form button {
  margin-right: 10px;
}
.App .results-container {
  background-color: #d9e8f6;
  padding: 0 1rem 0 1rem;
  margin-top: 1rem;
  display: inline-block;
}

.App .tablewrapper {
  overflow-x: auto;
  text-align: left;
  margin-bottom: 1rem;
}
.App .tablewrapper table {
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.App .tablewrapper table label {
  margin-right: 10px;
  font-weight: bold;
}

.App .tablewrapper table tbody tr td input[type='text'],
.App .tablewrapper table tbody tr td input[type='number'],
.App .tablewrapper table tbody tr td select,
.App .tablewrapper table tbody tr td button {
  font-size: 1rem;
}

.App .tablewrapper table tbody tr td input::-webkit-outer-spin-button,
.App .tablewrapper table tbody tr td input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App button[type='button'] {
  cursor: pointer;
}

.App .usa-button {
  font-size: 1rem;
  line-height: 0.9;
  color: #fff;
  background-color: #005ea2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: 700;
  margin-right: 0.5rem;
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: auto;
}
.App .usa-button:hover {
  color: #fff;
  background-color: #1a4480;
  border-bottom: 0;
  text-decoration: none;
}

.App .usa-button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #005ea2;
  color: #005ea2;
}
.App .usa-button--outline:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #1a4480;
  color: #1a4480;
}
.App .usa-button--secondary {
  color: #fff;
  background-color: #d83933;
}
.App .usa-button--secondary:hover {
  color: #fff;
  background-color: #b50909;
}

.App fieldset {
  border: 0;
  padding: 0 0 1rem 0;
}
.App fieldset legend {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.App fieldset label {
  margin-right: 20px;
}

.App .usa-alert--error {
  background-color: #f4e3db;
  border-left: 0.4rem solid #d54309;
}

.App .alert-container {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.App .alert-body {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 20%;
  padding: 15px;
  margin: auto;
  color: #d54309;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.App sub {
  vertical-align: baseline;
  position: relative;
  bottom: -0.33em;
}

@media only screen and (min-width: 992px) {
  .App .paragraph-text {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .App .paragraph-text {
    width: 60%;
  }
}

@media only screen and (max-width: 760px) {
  .App fieldset label {
    display: block;
    margin-bottom: 1rem;
  }
  .App .alert-body {
    left: 10%;
    right: 10%;
  }
}

@media only print {
  .App .tablewrapper {
    overflow-x: visible;
  }
  .App .pathway-container form button {
    display: none;
  }
}

.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#31708f;}
.alert-info hr{border-top-color:#a6e1ec;}
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px;}
